###> Docker ###
/docker/
!/docker/web/entrypoint.sh
!/docker/tools/entrypoint.sh
!/docker/tools/php.ini
!/docker/tools/xdebug.ini
###< Docker ###

###> Symfony ###
/var/
/vendor/
/bin/
###< Symfony ###
