###> Jetbrains ###
/.idea/
###< Jetbrains ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/var/.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/var/.phpunit.result.cache
/phpunit.xml
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/var/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpmd/phpmd ###
/phpmd.xml
###< phpmd/phpmd ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> vimeo/psalm ###
/psalm.xml
###< vimeo/psalm ###
