<?xml version="1.0" encoding="UTF-8" ?>

<!--
    See the PHPUnit documentation for more information on the XML configuration file:
    https://phpunit.de/manual/current/en/configuration.html
-->

<phpunit
    bootstrap="../../../vendor/autoload.php"
    cacheDirectory="../cache"
    colors="true"
>
    <testsuites>
        <testsuite name="Default">
            <directory suffix="Test.php">../src</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">../../../src</directory>
        </include>
    </source>
</phpunit>
